$BLACK_COLOR: rgb(8, 8, 8);
$WHITE_COLOR: rgb(252, 252, 252);
$BACK_GROUND_COLOR: rgb(252, 252, 252);
$TEXT_COLOR: rgb(8, 8, 8);
$KEY_COLOR: rgb(255, 165, 0);
$KEY_TEXT_COLOR: rgb(41, 0, 2);
$MAIN_COLOR: rgb(255, 207, 67);
$SUB_COLOR: rgb(255, 210, 128);
$LINK_COLOR: rgb(8, 8, 252);
$LINK_HOVER_COLOR: rgb(252, 8, 8);

#body {
	margin: 0px;
	padding: 16px 0px;
	background: $BACK_GROUND_COLOR;
	border: 0px;
	color: $TEXT_COLOR;
	font: 16px/1.4 "Arial", sans-serif;

	button,input,select,textarea {
		font-family: inherit;
		font-size: 100%;
	}
	  
	input[type="text"] {
		padding: 0px;
        text-indent: 4px;
    }

    input[type="color"] {
        padding: 2px;
    }

	img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	
	a,a:visited {
		color: $LINK_COLOR;
		text-decoration: none;
	}
	
	a:hover {
		color: $LINK_HOVER_COLOR;
		text-decoration: underline;
	}

	> .layout {
		margin: 0px 16px;
	}
}

#body_header {
	margin: 0px;

	> .layout {
		margin: 0px;
	}
}

#body_content {
	margin: 0px;
}

#body_footer {
	margin: 0px;
}

#body_title {
	margin: 0px;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
}
