$BLACK_COLOR: rgb(8, 8, 8);
$WHITE_COLOR: rgb(252, 252, 252);

* {
	margin: 0px;
	padding: 0px;
	background: none;
	border: 0px;
	color: $BLACK_COLOR;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	line-height: 1.4;
}

body {
	background: $WHITE_COLOR;
}

#base1 {
	margin: 16px;
}

#header1 {
	margin: 0px;

	> .layout1 {
		margin: 0px;
	}
}

#title1 {
	margin: 0px;
	font-size: 32px;
	font-weight: bold;
}

#content1 {
	margin: 0px;
}

#footer1 {
	margin: 0px;
}
